/* palette: https://coolors.co/palette/011627-fdfffc-2ec4b6-e71d36-ff9f1c */

#content {
    max-width: 800px;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 12em;
}
@media screen and (max-width: 800px) {
    #content {
        margin: 0.5em;
    }
}

::-moz-selection { /* Code for Firefox */
  color: #fdfffc;
  background: #2ec4b680;
}

::selection {
  color: #fdfffc;
  background: #2ec4b680;
}


body {
    font-family: "Cardo", serif;
    color: #fdfffc;
    background-color: #011627;
    font-size: 16px;
}

h1, h2, h3, h4, h5, strong {
    font-family: "Lora", serif;
}

input[type=text], textarea {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75em;
    padding-right: 0.4em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: transparent;
    border-color: #2ec4b6;
    color: #fdfffc;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 2px;
}

input[type=text]:focus, textarea:focus {
    border-color: #ff9f1c;
    box-shadow: none;
    outline: none;
}

.input_note {
    overflow-y: auto;
    resize: vertical;
    width: 100%;
    border-width: 2px;
}

label {
    font-family: "Lora", sans-serif;
    padding-left: 1em;
}

.page_number {
    margin-right: 100px;
}

.page_number {
    width: 100%;
    max-width: 20em;
}

.input_entry_title {
    width: 100%;
}

.row_part {
    overflow: hidden;
}

.row_container {
    overflow: hidden;
    padding-right: 20px;
}

.page_number_container {
    padding-right: 30px;
    overflow: hidden;
}
@media screen and (max-width: 48em) {
    .page_number_container {
        margin-bottom: 1em;
    }
}


.form_line {
    margin-bottom: 1em;
    overflow: hidden;
}

.input_source_link, .input_tags {
    width: 100%;
}

button, input[type=reset] {
    font-family: "Lora", serif;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    margin: 0 auto;
    display: block;
    background: transparent;
    border-width: 5px;
    border-style: solid;
    border-radius: 1em;
}

.submit_button {
    color: #ff9f1c;
    border-color: #ff9f1c;
    margin-top: 5px;
    margin-bottom: 5px;
}
.submit_button:hover {
    border-width: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.reset_button {
    color: #e71d36;
    border-color: #e71d36;
    margin-top: 5px;
    margin-bottom: 5px;
}
.reset_button:hover {
    border-width: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.submit_button_container {
    margin-right: 2em;
}

@media screen and (max-width: 48em) {
    .submit_button_container {
        margin-right: 0em;
    }
}

.input_area {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


hr.form_separator {
    margin-top: 2em;
    margin-bottom: 2em;
    color: #fdfffc;
}

.entry_title {
    display: inline-block;
    color: #2ec4b6;
}

.entry_link {
    color: #2ec4b6;
}
.entry_link:hover {
    color: #ff9f1c;
}
.entry_link:active {
    color: #e71d36;
}

.entry_date {
    display: inline-block;
}

.edit_entry {
    display: inline-block;
}

.edit_entry_link {
    color: #2ec4b6;
}
.edit_entry_link:hover {
    color: #ff9f1c;
}
.edit_entry_link:active {
    color: #e71d36;
}

.entry_tags {
    padding-left: 1em;
}

.single_tag {
    display: inline-block;
    background-color: #e71d36;
    padding: 0.3em;
    border-radius: 0.5em;
    /* margin-top: 3px; */
    /* margin-bottom: 3px; */
}

.note_id {
    background-color: #2ec4b6;
    color: #011627;
}

.entry_pages {
    display: inline-block;
}

.entry_note {
    margin-top: 1em;
    padding-left: 1em;
}

.edit_entry_section {
  max-width: 700px;
  margin: auto;
}

